source https://www.nuget.org/api/v2
framework: net6.0

nuget Fake
nuget naudio
nuget naudio.midi
nuget System.IO.Ports

group full
framework: net6.0, netstandard2.0, netstandard2.1
generate_load_scripts: true
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Formatting
nuget Fable.React
nuget FSharp.Data
nuget Fake.IO.FileSystem
nuget Fake.Core.Trace
nuget FSharp.Text.RegexProvider
nuget SixLabors.ImageSharp
nuget SixLabors.ImageSharp.Drawing

nuget TaskBuilder.fs
nuget WindowsAzure.Storage
nuget Fake.Core
nuget Fake.Core.Process

group func
source https://api.nuget.org/v3/index.json
storage: none
framework:  netcoreapp3.1
generate_load_scripts: true

nuget TaskBuilder.fs
nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions 