source https://www.nuget.org/api/v2
nuget naudio

group full
source https://ci.appveyor.com/nuget/fsharp-formatting
source https://api.nuget.org/v3/index.json


nuget FSharp.Literate
nuget Fable.React
nuget FSharp.Data